[Unit]
Description=Vsftpd Prometheus Exporter
After=network.target

[Service]
Type=simple
User=prometheus
ExecStart=/usr/local/vsftp-exporter/vsftp-exporter -config=/usr/local/vsftp-exporter/configs/config.json -log-level=info
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target